.products-create-title {
    font-size: 27px;
    font-weight: 700;

    margin-bottom: 20px;
}

.products-create {
    width: 100%;

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px 40px;
}

.products-create label {
    display: block;
    font-size: 19px;
    margin-bottom: 3px;
}

.products-create input, .products-create select {
    width: 100%;
    padding: 15px;
    font-weight: 400;
    font-size: 16px;

    border: 1px solid #121212;
    border-radius: 3px;
}

.products-create input:focus, .products-create select:focus {
    box-shadow: 0 0 10px #5b5b5b;
}