* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: 'Nunito';
}

a {
    text-decoration: none;
    color: rgba(0, 0, 255, 0.689);
}

option {
    font-size: 17px;
}

input, select {
    outline: 0;
}

ul {
    list-style: none;
}

input[type=search]::-webkit-search-cancel-button {
    display: none;
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  transition: background-color 5000s ease-in-out 0s;
}


aside {
    margin: 0;
}

*::-webkit-scrollbar {
    width: 14px;
}

*::-webkit-scrollbar-track {
    border-radius: 8px;
}

*::-webkit-scrollbar-thumb {
    height: 56px;
    border-radius: 8px;
    border: 4px solid transparent;
    background-clip: content-box;
    background-color: #c9c9c9;
}

*::-webkit-scrollbar-thumb:hover {
    background-color: #bababa
}

.search-form {
    position: relative;
    width: 25%;
}

.search-form input {
    width: 100%;
    height: 45px;
    padding: 15px 25px;
    padding-left: 51px;
}

.search-form i{
    position: absolute;
    top: 15px;
    left: 18px;
    color: #707070;
    font-size: 14px;
}


.main-content::-webkit-scrollbar {
    width: 8px;
}

.main-content::-webkit-scrollbar-thumb {
    width: 10px;
    border-radius: 0;
    background: #272727;
    background-clip: border-box;
}

input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

.main-category-products table i {
    cursor: pointer;

    transition: transform 200ms;
}

.main-category-products table i:hover {
    transform: scale(1.2);
}

.fa-trash {
    color: #eb4d4b;
}

.main-content input[type=search] {
    border-radius: 7px;

    font-size: 16px;
    font-weight: 300;

    border: none;
    box-shadow: 0 0 3.5px #232323;
}

.main-content input[type=search]::placeholder {
    color: #555555;
    font-size: 16px;

    font-weight: 400;
}

.owl-nav {
    display: none;
}

.owl-dots {
    margin-top: 25px;
}