#container {
    height: 100vh;
}

/* Header */

.main-section {
    display: flex;
    width: 100%;
    height: 87%;
}

.main-dashboard-header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 13%;

    background-color: #212121;

    box-shadow: 2px 0 8px rgba(0, 0, 0, 0.7);
}

.header-image-wrapper {
    padding: 0 20px;
    width: 250px;
}

.header-image-wrapper img {
    width: 145px
}

.main-dashboard-header .header-customer-wrapper {
    display: flex;
    gap: 50px;
    justify-content: right;
    padding-right: 35px;

    width: 250px;
}

.main-dashboard-header .header-customer-wrapper i {
    color: #fff;
    
    cursor: pointer;
}

/* Aside */

.main-dashboard-aside {
    display: flex;
    width: 250px;

    flex-direction: column;
    align-items: center;

    background-color: #212121;
    height: 100%;
    padding: 25px 10px;
    color: #fff;

    overflow-y: auto;

    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.7);
}

.dashboard-item-wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.main-dashboard-aside .dashboard-items {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
}

.main-dashboard-aside li {
    padding: 12px 10px 15px 10px;

    cursor: pointer;
}

.main-dashboard-aside h2 {
    font-size: 17px;
    font-weight: 400;

    font-family: 'Roboto';
}

.main-dashboard-aside .icon-title {
    margin-right: 15px;
    color: #fff;
}

.main-dashboard-aside li.active .arrow-click {
    transform: rotate(0deg);
}

.main-dashboard-aside .click-wrapper {
    display: none;

    background-color: #fff;
    margin-top: 15px;
    font-size: 16px;
    padding: 15px;

    border-radius: 5px;
}

.main-dashboard-aside li.active .click-wrapper {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.click-wrapper a {
    color: #212121;
    text-decoration: none;
}

.main-dashboard-aside .arrow-click {
    transform: rotate(-90deg);

    transition: transform 250ms;
}

.main-dashboard-aside .items-wrapper {
    display: flex;
    justify-content: space-between;
}