#container {
    height: 100vh;
}

/* Header */

.main-section {
    display: flex;
    width: 100%;
    height: 87%;
}

.main-dashboard-header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 13%;

    background-color: #232323;

    box-shadow: 2px 0 8px rgba(0, 0, 0, 0.7);
}

.main-dashboard-header img {
    width: 170px;

    margin: 0 18px;
}

.main-dashboard-header .header-customer-wrapper {
    display: flex;
    gap: 50px;
    justify-content: right;
    padding-right: 35px;

    width: 250px;
}

.main-dashboard-header .header-customer-wrapper i {
    color: #fff;
    
    cursor: pointer;
}

/* Aside */

.main-dashboard-aside {
    display: flex;
    width: 280px;

    flex-direction: column;
    align-items: center;

    background-color: #232323;
    height: 100%;
    padding: 20px 10px;
    color: #fff;

    overflow-y: auto;

    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.7);
}

.main-dashboard-aside::-webkit-scrollbar{
    width: 13px;
}

.dashboard-item-wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.main-dashboard-aside .dashboard-items {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;

    padding: 15px;
    padding-top: 20px;
    margin-bottom: 5px;

    cursor: pointer;
}

.main-dashboard-aside h2 {
    font-size: 17px;
    font-weight: 400;

    font-family: 'Roboto';
}

.main-dashboard-aside h2 .fa-solid {
    margin-right: 15px;
    color: #fff;
}

.main-dashboard-aside li.active {
    border-radius: 5px;

    background-color: #323232;
}

.main-dashboard-aside li.active .arrow-click {
    transform: rotate(0deg);
}

.main-dashboard-aside .click-wrapper {
    display: none;
    margin-top: 0.8rem;
    font-size: 16px;
    padding-left: 32px;

    border-radius: 5px;
}

.main-dashboard-aside li.active .click-wrapper {
    display: flex;
    flex-direction: column;
}

.click-wrapper a {
    color: #fff;
    text-decoration: none;

    padding: 0.6rem 0;
}

.main-dashboard-aside .arrow-click {
    transform: rotate(-90deg);

    transition: transform 250ms;
}

.main-dashboard-aside .items-wrapper {
    display: flex;
    justify-content: space-between;
}

/* Main */

.main-content {
    width: 100%;
    padding: 30px;
    overflow-y: auto;
}

.flash-message {
    color: #fff;
    padding: 10px;
    width: 100%;

    margin-bottom: 25px;

    animation: flashMessage 0.4s forwards;
    animation-delay: 2s;
}

@keyframes flashMessage {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
        margin: -15px;
    }
}

.link-no-results {
    text-decoration: underline !important;
    color: blue !important;
}

.main-modal {
    display: none;

    position: fixed;
    z-index: 99;

    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
}

.main-modal-wrapper {
    position: absolute;
    z-index: 9999;
    background-color: #fff;
    border-radius: 10px;

    left: 50%;
    transform: translateX(-50%);
    top: 100px;
}

.main-modal-title {
    position: relative;
    width: 100%;

    border-radius: 10px 10px 0 0;
    padding: 10px 0;
    text-align: center;

    background-color: #52A84B;
    color: #fff;
}

.main-modal-title .icon-exit {
    position: absolute;

    top: 50%;
    transform: translateY(-50%);
    right: 25px;
    font-size: 25px;

    cursor: pointer;
}