.main-orders-wrapper {
    display: grid;
    grid-template-columns: repeat(4, 1fr);

    justify-items: center;

    gap: 50px 30px;

    margin-top: 50px;
}

.main-orders-wrapper li {
    width: 60%;
    min-width: 170px;

    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: center;

    gap: 9px;

    cursor: pointer;
    
    user-select: none;
}

.main-orders-wrapper li .orders-image-wrapper {
    position: relative;

    color: #212121;
}

.main-orders-wrapper li .orders-image-wrapper > span, .main-orders-wrapper li .orders-image-wrapper > strong {
    position: absolute;
}

.main-orders-wrapper li .orders-image-wrapper > span {
    bottom: -1px;
    left: -8px;

    display: flex;

    align-items: center;
    justify-content: center;

    width: 45px;
    height: 45px;

    background-color: #fff;

    border-radius: 50%;

    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.4);
}

.main-orders-wrapper li .orders-image-wrapper > strong {
    left: 50%;
    bottom: 40px;

    transform: translateX(-50%);

    font-size: 17px;
}

.main-orders-wrapper li img {
    width: 100%;
}

.main-orders-wrapper li .orders-info-wrapper {
    width: 100%;

    display: flex;
    flex-direction: column;
    
    gap: 3px;
}

.main-orders-wrapper li .orders-info-wrapper > div {
    display: flex;
    justify-content: space-between;
}

.main-orders-wrapper li .orders-info-wrapper > div > small {
    margin-left: -7px;

    font-size: 15px;
}

.main-orders-wrapper li .orders-info-wrapper > div > span {
    display: flex;
    align-items: center;
    gap: 7px;

    color: #dc3545;

    font-size: 14px;
}

.main-modal-wrapper.-order {
    display: flex;
    flex-direction: column;

    width: 845px;

    left: 50%;
    top: 50%;

    transform: translate(-50%, -50%);
}

.main-modal-wrapper.-order .info-container {
    flex: 1;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    gap: 15px;

    padding: 20px;
}

.main-modal-wrapper.-order .info-container .table-wrapper {
    flex: 1;
    
    height: auto !important;
    max-height: 255px;

    overflow: scroll;
}

.main-modal-wrapper.-order .table-wrapper > table {
    border-collapse: collapse;
    width: 99%;
    font-weight: 300;
    font-size: 17px;
}

.main-modal-wrapper.-order .table-wrapper > table tr {
    height: 85px;

    cursor: pointer;
}

.main-modal-wrapper.-order .table-wrapper > table tr td:last-child {
    text-align: right;
}

.main-modal-wrapper.-order .table-wrapper > table tr i {
    font-weight: 600;
    color: #525252;
    font-size: 15.5px;
}

.main-modal-wrapper.-order .table-wrapper > table img {
    width: 85px;
    height: 60px;
    object-fit: cover;
    border-radius: 10px;
}

.main-modal-wrapper.-order .table-wrapper .preview {
    background-color: red;
}

.main-modal-wrapper.-order .info-container .buttons-wrapper {
    display: flex;
    gap: 20px;
}

.main-modal-wrapper.-order .info-container .buttons-wrapper button {
    width: 140px;
    height: 37px;

    color: #fff;
    border: 1px solid;
    border-radius: 6px;

    font-size: 14px;
    cursor: pointer;

    transition: 100ms;
}

.main-modal-wrapper.-order .info-container .buttons-wrapper button:nth-child(1) {
    background-color: #28a745;
    border-color: #28a745;
}

.main-modal-wrapper.-order .info-container .buttons-wrapper button:nth-child(2) {
    background-color: #dc3545;
    border-color: #dc3545;
}

.main-modal-wrapper.-order .info-container .buttons-wrapper button:hover {
    filter: brightness(0.9);
}