.main-modal-wrapper.-cart {
    display: flex;
    flex-direction: column;

    top: 0;
    height: 100%;
    width: 360px;
    right: 0;

    border-radius: 10px 0 0 10px;

    animation: viewCart 0.3s ;
}

@keyframes viewCart {
    0% {
        right: -360px;
    }

    100% {
        right: 0;
    }
}

.main-modal-title.-cart {
    border-radius: 10px 0 0 0;
}

.main-item-modal.-cart {
    display: flex;
    flex-direction: column;
    gap: 25px;

    max-height: 77%;

    padding: 30px 18px;
    padding-bottom: 0;
}

.main-item-modal.-cart li {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.main-item-modal.-cart .cart-empty-wrapper {
    flex-direction: column;
    align-items: baseline;

    gap: 10px;
}

.main-item-modal.-cart .cart-empty-wrapper a:hover {
    color: #17a2b8;
    text-decoration: underline;
    cursor: pointer;
}

.main-item-modal.-cart .cart-name-wrapper{
    display: flex;
    align-items: center;
}

.cart-info-wrapper {
    display: flex;
    flex-direction: column;
}

.cart-info-wrapper h3 {
    font-size: 16px;

    color: #202020;
}

.cart-info-wrapper p {
    font-size: 14px;
}

.main-item-modal .icon-cart {
    padding: 13px;
    box-shadow: 1px 1px 7px #3f3f3f73;
    color: #171717;
    border-radius: 50%;
    margin-right: 13px;

    font-size: 15px;
    cursor: pointer;
}

.main-item-modal li:last-child .icon-cart {
    margin-bottom: 7px;
}

.main-item-modal .icon-cart:last-child {
    margin-bottom: 7px;
}

.button-order-wrapper {
    flex: 1;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    padding: 15px 18px;

    gap: 12px;
}

.button-order {
    border: 0;
    color: #fff;
    border-radius: 4px;
    width: 100%;
    min-height: 40px;

    font-size: 15px;
    cursor: pointer;

    transition: 200ms;
}

.button-order.success {
    background-color: #52A84B;
}

.button-order.cancel {
    background-color: #fff;
    border: 1px solid #dc3545;
    color: #dc3545;

    transition: 400ms;
}

.button-order.success:hover {
    background-color: #3c9f33;

    transform: scale(1.01);
}

.button-order.cancel:hover {
    transform: scale(1.01);

    background-color: #dc3545;
    color: #fff;
}

.cart-edit-amount {
    display: flex;
    border-radius: 5px;

    overflow: hidden;
}

.cart-edit-amount button {
    padding: 3px 7px;

    color: #000;
    border: none;

    cursor: pointer;
    background-color: #fff;
}

.cart-edit-amount button i {
    font-size: 14px;
}

.cart-edit-amount button:nth-of-type(2) i {
    font-size: 13px;
}

.cart-edit-amount input {
    width: 40px;
    border: none;
    text-align: center;
    color: #000;
    
    font-style: italic;
    font-size: 14px;

    border-left: 1px solid #c7c6c6;
    border-right: 1px solid #c7c6c6;
    background-color: #fff;
}

/* .cart-table-modal {
    width: 750px;
    overflow: auto;
    padding-bottom: 0;
}

.cart-table-modal th {
    font-size: 17px;
    font-weight: 400;
}

.cart-table-modal th, .cart-table-modal td {
    padding: 10px 0;
}

.cart-table-modal th:nth-child(1), .cart-table-modal td:nth-child(1), .cart-table-modal th:nth-child(2), .cart-table-modal td:nth-child(2) {
    text-align: left;
}

.cart-table-modal tbody {
    text-align: center;
}

.modal-action-wrapper {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.cart-button {
    border: none;
    background: transparent;
}

.cart-button i {
    color: red;
    font-size: 21px;

    cursor: pointer;
}

.cart-plus-link {
    display: block;
    text-align: center;
    margin: 20px 0;
    text-decoration: underline;
    color: #4e4e4e;
} */

.menu-products-wrapper {
    margin-top: 10px;
}

.main-orders {
    margin-top: 40px;
}

.menu-category-wrapper {
    display: flex;
    justify-content: space-between;
}

.menu-category-wrapper a {
    color: #121212;

    font-size: 15px
}

.menu-category-wrapper a:hover {
    color: rgb(78, 78, 78);
    text-decoration: underline;
}

.main-orders h3 {
    font-size: 21px;

    margin-bottom: 15px;
}

.main-orders-products {
    display: grid;
    grid-template-columns: repeat(3, 1fr);

    justify-items: center;
    grid-gap: 35px 0;
}

.main-orders-item > a{
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.products-image-wrapper {
    position: relative;
}

.main-orders-item img {
    width: 270px;
    height: 180px;
    object-fit: cover;

    border-radius: 10px;
}

.main-orders-item strong {
    display: block;
    width: 270px;
}

.main-orders-item a {
    color: #000;
}

.main-orders-item strong {
    font-size: 17px;
    font-weight: 700;
}

.main-orders-item p {
    font-size: 15px;
    cursor: pointer;
}

.show-modal-product {
    display: flex;
    align-items: center;
    justify-content: center;

    position: absolute;
    right: -5px;
    bottom: -5px;
    

    border: none;
    background-color: white;
    width: 55px;
    height: 55px;
    border-radius: 50%;
    box-shadow: 2px 2px 8px #56565696;
    font-size: 16px;

    transition: 200ms;
    cursor: pointer;
}

.show-modal-product:hover {
    background-color: #dadada;

    transform: scale(1.05);
}

.main-modal-wrapper.-orders {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    top: 50%;
    width: 350px;
    height: 500px;
    right: 50%;
    transform: translate(50%, -50%);

    border-radius: 10px;
}

.main-modal-wrapper.-orders .header {
    position: relative;
}

.main-modal-wrapper.-orders .header img {
    width: 100%;
    height: 180px;
    object-fit: cover;
    
    border-radius: 10px 10px 0 0;
}

.main-modal-wrapper.-orders .header i {
    position: absolute;
    top: 10px;
    right: 10px;

    background-color: #fff;
    border-radius: 50%;
    color: #121212;
    box-shadow: 1px 1px 7px #3f3f3f73;

    font-size: 19px;
    width: 40px;
    height: 40px;

    display: flex;
    align-items: center;
    justify-content: center;

    cursor: pointer;
}

.main-item-modal.-orders {
    flex: 1;
    display: flex;
    flex-direction: column;

    justify-content: space-between;

    padding: 15px;
}

.main-item-modal.-orders > div {
    display: flex;
    flex-direction: column;

    gap: 5px;
}

.main-item-modal.-orders > div h2 {
    font-size: 20px;
}

.main-item-modal.-orders > div small {
    font-size: 15px;
}

.main-item-modal.-orders > div > div {
    margin-top: 15px;
}

.main-item-modal.-orders > div > div h4 {
    font-size: 18px;
    margin-bottom: 8px;
}

.main-item-modal.-orders > div > div ul {
    display: flex;
    flex-direction: column;
    gap: 8px;

    margin-bottom: 15px;
}