.main-modal-wrapper.-cart {
    display: flex;
    flex-direction: column;

    top: 0;
    height: 100%;
    width: 360px;
    right: 0;

    border-radius: 10px 0 0 10px;

    animation: viewCart 0.3s;
}

.main-modal-wrapper.-cart .info-container {
    flex: 1;
    width: 100%;

    display: flex;
    flex-direction: column;
    position: relative;

    overflow-x: hidden;
}

.main-modal-wrapper.-cart .info-container > ul, 
.main-modal-wrapper.-cart .info-container > div {
   transition: 0.3s right ease-out, 1s opacity ease-out;
}

.cart-tables-wrapper {
    width: inherit;

    position: absolute;
    opacity: 0;
    right: -360px;

    padding: 18px;
}

.cart-tables-wrapper ul {
    display: grid;
    list-style: none;

    grid-template-columns: repeat(4, 1fr);

    justify-items: center;

    gap: 15px;
}

.cart-tables-wrapper ul .element-table {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

    width: 60px;
    height: 60px;
    border-radius: 3px;

    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.2);
    cursor: pointer;

    transition: 350ms;

    user-select: none;
}


.cart-tables-wrapper ul .table-notfound {
    
}
.cart-tables-wrapper .table-checked::after {
    content: '';
    position: absolute;
    width: 20px;
    height: 20px;

    background-image: url('../../images/system/checked.png');
    background-size: cover;
    background-repeat: no-repeat;

    left: 0;
    bottom: -6px;
}

.cart-tables-wrapper ul .element-table:hover {
    transform: scale(1.03);
}

@keyframes viewCart {
    0% {
        right: -360px;
    }

    100% {
        right: 0;
    }
}

.main-modal-title.-cart {
    border-radius: 10px 0 0 0;
}

.main-item-modal.-cart {
    position: absolute;
    right: 0;

    display: flex;
    flex-direction: column;
    gap: 30px;

    width: 100%;
    max-height: 77%;

    padding: 30px 18px;
    padding-bottom: 0;
}

.main-item-modal.-cart li {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.main-item-modal.-cart .cart-empty-wrapper {
    flex-direction: column;
    align-items: baseline;

    gap: 10px;
}

.main-item-modal.-cart .cart-empty-wrapper a:hover {
    color: #17a2b8;
    text-decoration: underline;
    cursor: pointer;
}

.main-item-modal.-cart .cart-name-wrapper{
    display: flex;
    align-items: center;
}

.cart-info-wrapper {
    display: flex;
    flex-direction: column;
}

.cart-info-wrapper h3 {
    font-size: 16px;

    color: #202020;
}

.cart-info-wrapper p {
    font-size: 14px;
}

.main-item-modal .icon-cart {
    padding: 13px;
    box-shadow: 1px 1px 7px #3f3f3f73;
    color: #171717;
    border-radius: 50%;
    margin-right: 13px;

    font-size: 15px;
    cursor: pointer;
}

.main-item-modal li:last-child .icon-cart {
    margin-bottom: 7px;
}

.main-item-modal .icon-cart:last-child {
    margin-bottom: 7px;
}

.button-order-wrapper {
    flex: 1;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    padding: 15px 18px;

    gap: 12px;
}

.button-order {
    border: 0;
    color: #fff;
    border-radius: 4px;
    width: 100%;
    min-height: 40px;

    font-size: 15px;
    cursor: pointer;

    transition: 300ms;
    user-select: none;
}

.button-order.success {
    background-color: #52A84B;
}

.button-order.cancel {
    background-color: #fff;
    border: 1px solid #dc3545;
    color: #dc3545;

    transition: 400ms;
}

.button-order.success:hover {
    background-color: #3c9f33;

    transform: scale(1.01);
}

.button-order.cancel:hover {
    transform: scale(1.01);

    background-color: #dc3545;
    color: #fff;
}

.button-order:disabled {
    pointer-events: none;
    opacity: 0.9;
}

.button-order.success i {
    margin-left: 4px;
    font-size: 14px;
}

.cart-edit-amount {
    display: flex;
    border-radius: 5px;

    overflow: hidden;
}

.cart-edit-amount button {
    padding: 3px 7px;

    color: #000;
    border: none;

    cursor: pointer;
    background-color: #fff;
}

.cart-edit-amount button i {
    font-size: 14px;
}

.cart-edit-amount button:nth-of-type(2) i {
    font-size: 13px;
}

.cart-edit-amount input {
    width: 40px;
    border: none;
    text-align: center;
    color: #000;
    
    font-style: italic;
    font-size: 14px;

    border-left: 1px solid #c7c6c6;
    border-right: 1px solid #c7c6c6;
    background-color: #fff;
}

/* .cart-table-modal {
    width: 750px;
    overflow: auto;
    padding-bottom: 0;
}

.cart-table-modal th {
    font-size: 17px;
    font-weight: 400;
}

.cart-table-modal th, .cart-table-modal td {
    padding: 10px 0;
}

.cart-table-modal th:nth-child(1), .cart-table-modal td:nth-child(1), .cart-table-modal th:nth-child(2), .cart-table-modal td:nth-child(2) {
    text-align: left;
}

.cart-table-modal tbody {
    text-align: center;
}

.modal-action-wrapper {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.cart-button {
    border: none;
    background: transparent;
}

.cart-button i {
    color: red;
    font-size: 21px;

    cursor: pointer;
}

.cart-plus-link {
    display: block;
    text-align: center;
    margin: 20px 0;
    text-decoration: underline;
    color: #4e4e4e;
} */

.menu-products-wrapper {
    margin-top: 10px;
}

.main-orders {
    margin-top: 40px;
}

.menu-category-wrapper {
    display: flex;
    justify-content: space-between;
}

.menu-category-wrapper a {
    color: #121212;

    font-size: 15px
}

.menu-category-wrapper a:hover {
    color: rgb(78, 78, 78);
    text-decoration: underline;
}

.main-orders h3 {
    font-size: 21px;

    margin-bottom: 15px;
}

.main-orders-products {
    display: grid;
    grid-template-columns: repeat(3, 1fr);

    justify-items: center;
    grid-gap: 35px 0;
}

.main-orders-item > a{
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.products-image-wrapper {
    position: relative;
}

.main-orders-item img {
    width: 270px;
    height: 180px;
    object-fit: cover;

    border-radius: 10px;
}

.main-orders-item strong {
    display: block;
    width: 270px;

    font-size: 17px;
    font-weight: 700; 

    width: 100%;
}

.main-orders-item a {
    color: #000;
}

.main-orders-item p {
    font-size: 15px;
    cursor: pointer;
}

.show-modal-product {
    display: flex;
    align-items: center;
    justify-content: center;

    position: absolute;
    right: -5px;
    bottom: -5px;
    

    border: none;
    background-color: white;
    width: 55px;
    height: 55px;
    border-radius: 50%;
    box-shadow: 2px 2px 8px #56565696;
    font-size: 16px;

    transition: 200ms;
    cursor: pointer;
}

.show-modal-product:hover {
    background-color: #dadada;

    transform: scale(1.05);
}

.main-modal-wrapper.-orders {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    top: 50%;
    width: 350px;
    height: 500px;
    right: 50%;
    transform: translate(50%, -50%);

    border-radius: 10px;
}

.main-modal-wrapper.-orders .header {
    position: relative;
}

.main-modal-wrapper.-orders .header img {
    width: 100%;
    height: 180px;
    object-fit: cover;
    
    border-radius: 10px 10px 0 0;
}

.main-modal-wrapper.-orders .header i {
    position: absolute;
    top: 10px;
    right: 10px;

    background-color: #fff;
    border-radius: 50%;
    color: #121212;
    box-shadow: 1px 1px 7px #3f3f3f73;

    font-size: 19px;
    width: 40px;
    height: 40px;

    display: flex;
    align-items: center;
    justify-content: center;

    cursor: pointer;
}

.main-item-modal.-orders {
    overflow: hidden;

    height: 285px;

    flex: 1;
    display: flex;
    flex-direction: column;

    justify-content: space-between;

    padding: 15px;
}

.main-item-modal.-orders > div {
    display: flex;
    flex-direction: column;

    gap: 5px;

    overflow-y: scroll;

    flex: 1;

    margin-bottom: 15px;
}

.main-item-modal.-orders > div h2 {
    font-size: 20px;
}

.main-item-modal.-orders > div small {
    font-size: 15px;
}

.main-item-modal.-orders > div > div {
    margin-top: 15px;
}

.main-item-modal.-orders > div > div h3 {
    font-size: 18px;
    margin-bottom: 15px;
}

.main-item-modal.-orders > div > div .additionals-title-wrapper {
    position: relative;
}

.main-item-modal.-orders > div > div .additionals-title-wrapper span {
    position: absolute;
    right: 0;
    top: 0;

    display: flex;
    justify-content: center;
    align-items: center;

    width: 23px;
    height: 23px;
    font-size: 13px;

    color: #fff;
    background-color: #89acff;
    border-radius: 50%;

    cursor: pointer;
}

.main-item-modal.-orders > div > div .info-additionals-wrapper {    
    position: absolute;
    top: 305px;
    right: 50%;

    transform: translateX(50%);

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;
    
    width: 500px;
    height: auto;

    color: #fff;
    background-color: #323232;

    font-size: 19px;
    padding: 18px;

    border-radius: 10px;

    z-index: 1;
    display: none;
}

.main-item-modal.-orders > div > div .info-additionals-wrapper > div {
    display: flex;
    flex-direction: column;

    gap: 15px;
}

.main-item-modal.-orders > div > div .info-additionals-wrapper p {
    font-size: 16.5px;
    font-weight: 500;
}

.main-item-modal.-orders > div > div .info-additionals-wrapper i {
    font-size: 12px;
}

.main-item-modal.-orders > div > div > ul {
    position: relative;

    display: flex;
    flex-direction: column;
    gap: 15px;

    margin-bottom: 15px;
}

.main-item-modal.-orders > div > div ul > li {
    display: flex;
    gap: 7px;

    align-items: center;
}

.main-item-modal.-orders > div > div ul > li > input {
    width: 15px;
    height: 15px;

    border-radius: 5px;

    cursor: pointer;
}

.main-item-modal.-orders > div > div ul > li input[type="checkbox"]:checked ~ .additionals-edit-quantity {
    display: flex;
}

.main-item-modal.-orders > div > div ul > li label {
    cursor: pointer;

    user-select: none;
}

.main-item-modal.-orders > div > div ul .additionals-edit-quantity {
    flex: 1;

    display: flex;
    justify-content: right;
    
    display: none;
}

.main-item-modal.-orders > div > div ul .additionals-edit-quantity .button-change-additionals {
    font-size: 13px;
    padding: 2px 10px;
    color: #000;
    border: none;
    cursor: pointer;
    background-color: #fff;

    border-radius: 3px;

    transition: 150ms;
}

.main-item-modal.-orders > div > div ul .additionals-edit-quantity .button-change-additionals:hover {
    background-color: #d5d5d5;
}

.main-item-modal.-orders > div > div ul .additionals-edit-quantity .input-change-additionals {
    width: 40px;
    border: none;
    text-align: center;
    color: #000;
    font-style: italic;
    font-size: 14px;
    background-color: #fff;

    border-radius: none !important;
}

.modal-subtitle-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    
    position: relative;

    margin-bottom: 20px;
}

.modal-subtitle-wrapper i {
    position: absolute;

    left: 0;
    top: 0;

    transform: translateY(23%);

    font-size: 17.5px;

    cursor: pointer;
}

.modal-subtitle-wrapper h3 {
    text-align: center;

    font-size: 18px;

    font-weight: 600;
    text-align: center;
}