* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.sistema-cardapio-wrapperr{
    background-color: #D9D9D9;
    padding: 14px;
    border-radius: 20px;
    margin: 14px;
    height: 15\ 0vh;

}

.caixa-img-carrinho {
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: #A1A1A1;
    border-radius: 20px;
    padding: 1px;
    gap: 0px 10px;
    margin-bottom: 20px;
}

.caixa-image{
    width: 100%;
    height: auto;
}

.caixa-img-carrinho div img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 30px;
    padding: 10px;
}

.produto-carrinho{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


.produto-carrinho h3{
    font-size: 25px;
    text-align: center;
    color: white;
    text-shadow: 
    -3px -3px 2px #473227, 
   -3px 3px 2px #473227,                    
    3px -3px 2px #473227,                  
    3px 2px 2px #473227; 
    align-items: start;
}

.produto-carrinho p{
    font-size: 13px;
    padding: 5px;
    /* margin-bottom: 10px; */
}

.carrinho-adicionais-wrapper h4{
    text-align: center;
    color: white;
    font-size: 15px;
    padding: 5px;
    text-shadow: 
    -3px -3px 2px #473227, 
   -3px 3px 2px #473227,                    
    3px -3px 2px #473227,                  
    3px 2px 2px #473227; 
}

.caixa-hamb{
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;

    margin: 10px 0;
}

.caixa-hamb h5 {
    justify-self: start;
}

.caixa-hamb small {
    justify-self: end;
}

.caixa-hamb small{
    align-self:end;
}

.caixa-cancelar{
    display:grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    justify-items: stretch;
    margin-bottom: 4px;
}

.caixa-cancelar button{
    border-radius: 15px;
    border: none;
    background-color: red;
    color: white;
    padding: 5px;
    margin-right: 4px;
    font-weight: bold;
}

.div-finalizar{
    background-color: #473227;
    width: 100%;
    height: 91px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-items: center;
}

.div-finalizar strong{
    color: white;
    font-size: 25px;
}

.div-finalizar button {
    width: 250px;
    height: 52px;
    background-color:#7CCC71;
    border-radius: 20px ;
    border: none;
    font-size: 20px;
    font-weight: bold;
}




