.cart-table-wrapper {
    height: auto !important;
    max-height: 350px;
    overflow: auto;
}

.cart-table-modal {
    width: 750px;
    overflow: auto;

    padding: 25px;
    padding-bottom: 0;
}

.cart-table-modal th {
    font-size: 17px;
    font-weight: 400;
}

.cart-table-modal th, .cart-table-modal td {
    padding: 10px 0;
}

.cart-table-modal th:nth-child(1), .cart-table-modal td:nth-child(1), .cart-table-modal th:nth-child(2), .cart-table-modal td:nth-child(2) {
    text-align: left;
}

.cart-table-modal tbody {
    text-align: center;
}

.modal-action-wrapper {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.cart-button {
    border: none;
    background: transparent;
}

.cart-button i {
    color: red;
    font-size: 21px;

    cursor: pointer;
}

.cart-plus-link {
    display: block;
    text-align: center;
    margin: 20px 0;
    text-decoration: underline;
    color: #4e4e4e;
}

.main-request-products {
    display: grid;
    grid-template-columns: repeat(3, 1fr);

    justify-items: center;
    grid-gap: 35px 0;
}

.main-request-item img {
    width: 270px;
    height: 150px;
    object-fit: cover;

    border-radius: 10px;
}