.cart-table-wrapper {
    height: auto !important;
    max-height: 350px;
    overflow: auto;
}

.table-modal {
    width: 750px;
    overflow: auto;

    padding: 25px;
    padding-bottom: 0;
}

.table-modal th {
    font-size: 17px;
    font-weight: 400;
}

.table-modal th:nth-child(1) {
    text-align: left;
    width: 180px;
}

.table-modal tbody {
    text-align: center;
}

.modal-name-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 15px;
    padding: 15px 0;
}

.modal-name-wrapper h4 {
    font-weight: 400;
}

.modal-name-wrapper img{
    width: 65px;
    height: 45px;

    border-radius: 5px;
    object-fit: cover;
}

.modal-action-wrapper {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.cart-button {
    border: none;
    background: transparent;
}

.cart-button i {
    color: red;
    font-size: 21px;

    cursor: pointer;
}

.cart-plus-link {
    display: block;
    text-align: center;
    margin: 20px 0;
    text-decoration: underline;
    color: #4e4e4e;
}