* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: 'Nunito';
}

input {
    outline: 0;
}

ul {
    list-style: none;
}

input[type=search]::-webkit-search-cancel-button {
    display: none;
}

aside {
    margin: 0;
}

::-webkit-scrollbar {
    background-color: #d2d2d2;
    width: 5px;
    border-radius: 5px;
}

::-webkit-scrollbar-thumb {
    background-color: #bababa;
    border-radius: 8px;
}