.header-responsivo{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    padding: 14px;

    width: 100%;
    height: 70px;
    background-color: #b59d90;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.486);

    position: relative;
    z-index: 9999;
}

.circulo-menu h4 {
    font-size: 11px;
    font-weight: 700;
}

.circulo-menu {
    display: flex;

    justify-content: center;
    align-items: center;
    
    width: 63px;
    height: 40px;

    background-color: #51ff0046;
    border-radius: 30px;
    border-top: 10px;

}

.header-responsivo img{
    width: 34px;

    justify-self: center;
}

#icone-header-carrinho{
    font-size: 25px;

    justify-self: end;
}

.sistema-cardapio-wrapper {
    padding: 10px;
    background-color: #b59d90;
    position: relative;
}

.sistema-info-wrapper {
    margin-top: 20px;
    width: 100%;
    padding: 20px;
    padding-top: 0;
    background-color: #d9d9d9;

    border-radius: 20px;
}

.title-arrow-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}

.main-arrow-back {
    width: 50px;
    position: absolute;
    left: 10px;
    top: 6px;
}

.main-titulo-produto {
    top: -25px !important;
}

.caixa-img-strong img {
    width: 100%;
    margin-bottom: 15px;
    border-radius: 20px;
}

.caixa-strong {
    width: 100%;
    height: 100px;
    background-color: rgba(163, 158, 158, 68%);
    padding: 15px;
    padding-bottom: 20px;
    border-radius: 10px;
    position: relative;
    
}

.valor-strong {
    font-weight: 800;
    color: white;

    position: absolute;
    right: 10px;
    bottom: -7px;
    font-size: 15px;
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.772);
}