.header-responsivo{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    padding: 14px;

    width: 100%;
    height: 70px;
    background-color: #b59d90;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.486);

    position: relative;
    z-index: 9999;
}

.circulo-menu h4 {
    font-size: 11px;
    font-weight: 700;
}

.circulo-menu {
    display: flex;

    justify-content: center;
    align-items: center;
    
    width: 63px;
    height: 40px;

    background-color: #51ff0046;
    border-radius: 30px;
    border-top: 10px;

}

.header-responsivo img{
    width: 34px;

    justify-self: center;
}

#icone-header-carrinho{
    font-size: 25px;

    justify-self: end;
}

.sistema-cardapio-wrapper {
    padding: 10px;
    background-color: #b59d90;
}

.sistema-info-wrapper {
    margin-top: 20px;
    width: 100%;
    padding: 10px;
    background-color: #d9d9d9;

    border-radius: 20px;
}

.titulo-cardapio-wrapper {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30px;
    margin-top: -27px;
}

.titulo-cardapio-wrapper img{
    width: 35px;
    position: absolute;
    left: 0;
    top: 0;
}

.titulo-cardapio-wrapper h2 {
    font-size: 32px;
    font-weight: 700;
    color: #fff;
    -webkit-text-stroke: 2px #000;
}

/* .caixa-img-strong{
   
} */

.div-caixa-hamburguer{
    /* background-color: #020101; */
    width: 80%;
    height: 200px;
    overflow: hidden;
    border-radius: 20px;
    margin: 10px 10px 15px 35px;
}

.div-caixa-hamburguer img{
    width: 100%;
    height: 100%;
}

.caixa-strong{
    width: 100%;
    height: 100px;
    background-color:#A39E9E;
    padding: 0px 20px 0px 20px;
    border-radius: 10px;
    
}

.valor-strong{
    position: relative;
    left: 200px;
    top: 45px;
    color: white;
}