body {
    background-color: #b59d90;
}

.header-responsivo {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    padding: 14px;

    width: 100%;
    height: 70px;
    background-color: #b59d90;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.486);

    position: relative;
    z-index: 9999;
}

.header-responsivo .button-search {
    border: none;

    background-color: #fff;

    width: 65px;
    height: 30px;

    border-radius: 10px;

    font-size: 15px;
}

.header-responsivo img {
    width: 34px;

    justify-self: center;
}

#icone-header-carrinho{
    font-size: 25px;

    justify-self: end;
}

.header-menu-wrapper {
    display: flex;
    justify-content: right;

    font-size: 28px;
}

.header-menu-wrapper .menu-burguer-background {
    display: flex;
    justify-content: center;
    align-items: center;
    
    background-color: #fff;
    
    width: 60px;
    height: 30px;

    border-radius: 8px;

    font-size: 21px;
}

.header-menu-wrapper .items-menu {
    display: none;

    position: fixed;
    right: 0;
    top: 0;
    
    width: 100%;
    height: 100vh;
    z-index: 9999;
    
    justify-content: right;
    align-items: flex-start;
}

.header-menu-wrapper #header-menu-close{
    position: absolute;
    
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);

    z-index: 1;
}

.header-menu-wrapper .items-menu .modal-wrapper {
    display: flex;
    flex-direction: column;

    gap: 20px;

    width: 70%;
    height: 100%;

    background-color: white;

    font-size: 14px;
    font-weight: 600;

    border-radius: 10px 0 0 10px;

    padding: 18px 15px;

    box-shadow: -1px 0 10px rgba(0, 0, 0, 0.2);

    z-index: 2;
}

.header-menu-wrapper .items-menu .modal-wrapper .title-wrapper {
    display: flex;

    justify-content: space-between;
    align-items: center;
    
}

.header-menu-wrapper .items-menu .modal-wrapper .title-wrapper h2 {
    font-size: 20px !important;
    font-weight: 600;
}

.header-menu-wrapper .items-menu .modal-wrapper .title-wrapper i {
    font-size: 27px;
}

.header-menu-wrapper .items-menu .modal-wrapper ul {
    display: flex;
    flex-direction: column;

    gap: 10px;
}

.header-menu-wrapper .items-menu .modal-wrapper a {
    display: block;
    background-color: #d9d9d9;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    text-align: center;
    
    border-radius: 8px;

    padding: 15px 0;

    text-decoration: none;
    color: #212121;
}

/* CARDAPIO INICIO!!!!!!!!*/

.sistema-cardapio-wrapper {
    padding: 10px;
    background-color: #b59d90;
    position: relative;
}

.sistema-info-wrapper {
    margin-top: 20px;
    width: 100%;
    padding: 20px;
    padding-top: 0;
    background-color: #d9d9d9;

    border-radius: 20px;

    
    padding-bottom: 20px;
}

.title-arrow-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}

.main-arrow-back {
    width: 50px;
    position: absolute;
    left: 10px;
    top: 6px;
}

.sistema-info-wrapper .title-wrapper {
    text-align: center;
}

.sistema-info-wrapper .title-cart-product {
    display: inline-block;

    text-shadow: -3px -3px 2px #473227, -3px 3px 2px #473227, 3px -3px 2px #473227, 3px 2px 2px #473227;
    font-family: 'Inter';
    font-weight: 1000;
    font-size: 30px;
    color: #FFFFFF;

    margin: 15px 0;
}


.caixa-img-strong img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 20px;
}

.caixa-img-strong {
    width: 100%;
    height: 200px;
    background-color: #A1A1A1;
    border-radius: 20px;
}

.valor-strong {
    font-weight: 800;
    color: white;

    position: absolute;
    right: 10px;
    bottom: -7px;
    font-size: 15px;
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.772);
}

.main-adicionais-wrapper {
    background: rgba(163, 158, 158, 65%);
    padding: 15px;
    border-radius: 20px;
    margin-top: 13px;
    position: relative;
}

.titulo-adicionais {
    position: relative;
    bottom: -28px;
    text-shadow: -3px -3px 2px #473227, -3px 3px 2px #473227, 3px -3px 2px #473227, 3px 2px 2px #473227;
    font-family: 'Inter';
    font-weight: 1000;
    font-size: 25px;
    text-align: center;
    color: #FFFFFF;
    z-index: 2;
}

.main-adicionais-wrapper li {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main-adicionais-wrapper .adicionais-info-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 1;
}

.main-adicionais-wrapper .adicionais-quantidades input{
    width: 20px;
}

.adicionais-info-wrapper h5{
    font-size: small;
    font-weight: 600;
}

.adicionais-quantidades{
    border: 1.5px solid black;
    border-radius: 8px;
    background-color: #CECECE;
    margin: 2px;
    padding: 1px;
}

.adicionais-quantidades button{
    border: none;
    background-color: #CECECE;
    padding: 1px;
    margin: 0px 2px;
}

.adicionais-quantidades input{
    border: none;
    background-color: #CECECE;
    text-align: center; 
}

.adicionais-quantidades input:focus{
    box-shadow: 0 0 0 0;
    border: 0 none;
    outline: 0;
}

.adicionais-quantidades input::placeholder{
    color: #000;
}
 
.quantidade-observacao{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 25px 0px;
    padding: 0px 5px;
}

.quantidade-grid:nth-child(1) {
    width: 95px;
}

.quantidade-grid {
    margin-top: 7px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    gap: 5px;
}

.quantidade-observacao .adicionais-quantidades{
    width: 100%;
    border: 2px solid black;
    height: 32px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.quantidade-observacao .adicionais-quantidades input{
    max-width: 60%;   
}


/* Butão*/
.btn-adicionar-grid{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 15px;
}

.btn-adicionar-carrinho{
  width: 100%;
  background-color: #52A84B;
  border: 1px solid #52A84B;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, .1) 0 2px 4px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  font-family: "Akzidenz Grotesk BQ Medium", -apple-system, BlinkMacSystemFont, sans-serif;
  font-size: 16px;
  font-weight: 400;
  outline: none;
  outline: 0;
  padding: 10px 25px;
  text-align: center;
  transform: translateY(0);
  transition: transform 150ms, box-shadow 150ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

/* css modal */

#main-modal-obs{
    display: none;
    position: fixed;
    z-index: 999999;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#modal-obs-close {
    position: absolute;
    
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
}

.modal-obs-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    position: absolute;
    z-index: 999999;
    top: 50%;
    left: 50%;
    background-color: #fff;
    transform: translate(-50%, -50%);
    border-radius: 10px;
    width: 70%;
    height: 160px;

    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.obs-titulo{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #52A84B;
    border-radius: 10px 10px 0px 0px;
    height: 30px;
}

.obs-titulo h2{
    color: white;
    font-weight: 600;
    font-size: small;
}

.input-modal-obs{
    display: flex;
    align-items: center;

    padding: 15px;
    width: 210px;
    height: 35px;
    background: #D7D7D7;
    border: 1px solid #D2D2D2;
    border-radius: 5px;
}

.obs-button{
    margin-bottom: 10px;
    display: flex;
    gap: 55px;
}

.obs-button .obs-modal-cancelar{

    background-color: #DC3545;
    border: 1px solid #DC3545;
    border-radius: 3px;
    box-shadow: rgba(0, 0, 0, .1) 0 2px 4px 0;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    padding: 5px 0px;
}

.obs-button .obs-modal-enviar{

    background-color: #52A84B;
    border: 1px solid #52A84B;
    border-radius: 3px;
    box-shadow: rgba(0, 0, 0, .1) 0 2px 4px 0;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    padding: 5px 0px;
}

.obs-button button{
    width: 80px;
}

/* Quantidade e Observação */
.obs-quantity-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

input {
    background: red;
}

input[type=nyumber] {
    background: orange;
}