.main-section-orders {
    padding: 20px 15px;
}

.main-section-orders .main-title {
    padding: 15px;
    background-color: #fff;
    border-radius: 10px;
    text-align: center;

    margin-bottom: 30px;
}

.main-section-orders .main-title h2 {
    font-size: 19px;
    font-weight: 500;
    color: #202020;
}

.main-section-orders .orders-wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    border-radius: 10px;

    gap: 15px;
}

.main-section-orders .orders-wrapper li {
    width: 90%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    border-radius: 5px;
    position: relative;

}

.main-section-orders .orders-wrapper li > span {
    width: 35px;
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    
    border-radius: 15px;
    
    position: absolute;
    top: -8px;
    right: -8px;
    
    background-color: #EA3829;
    color: #fff;
    font-size: 15px;
}

.main-section-orders .orders-wrapper li strong {
    width: 100%;
    
    border-radius: 5px 5px 0 0;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;
    
    padding: 20px;
    font-size: 21px;
    
    background-color: #fff;
}

.main-section-orders .orders-wrapper li .order-status {
    width: 100%;
    color: #fff;
    background-color: #b0b0b0;

    border-radius: 0 0 5px 5px;
    padding: 7px;
    text-align: center;
    font-size: 17px;
    word-break: break-all;
}

.main-section-orders .notfound {
    color: #202020;
    background-color: #fff;
    font-size: 16px;

    padding: 10px;
    border-radius: 10px;
    text-align: center;
}

.main-section-orders .notfound i {
    font-size: 5em;
}

#orders-modal-items {
    justify-content: center;
    align-items: center;
}

#orders-modal-items .items-wrapper {
    background-color: #fff;
    z-index: 5;

    width: calc(100% - 30px);
    height: auto;

    padding: 15px;
    border-radius: 5px;

    display: flex;
    flex-direction: column;
    gap: 20px;
}

#orders-modal-items .items-wrapper h2 {
    text-align: center;
    font-size: 22px;
}

#orders-modal-items .items-wrapper ul {
    display: flex;
    flex-direction: column;
}

#orders-modal-items .items-wrapper > ul {
    gap: 15px;

    max-height: 40vh;
    overflow-y: auto;
}

#orders-modal-items .items-wrapper > ul > li {
    display: flex;
    flex-direction: column;
    gap: 20px;

    background-color: #f3f3f3;
    /* background-color: #d9d9d9; */
    border-radius: 5px;

    padding: 20px 15px;
}

#orders-modal-items .items-wrapper > ul h4 {
    font-size: 17px;
    font-weight: 600;
}

#orders-modal-items .items-wrapper > ul .additionals-wrapper {
    gap: 15px;
}

#orders-modal-items .items-wrapper > ul .additionals-wrapper i {
    width: 30px;
    height: 30px;

    border-radius: 50%;

    display: inline-flex;
    align-items: center;
    justify-content: center;

    background-color: #fff;
    margin-right: 10px;

    font-size: 15px;
    font-size: #202020;
}

#orders-modal-items .items-wrapper .price-button-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#orders-modal-items .items-wrapper strong {
    font-size: 17px;
}

#orders-modal-items .items-wrapper button {
    width: 30%;
    height: 40px;

    background-color: #52A84B;
    border: 1px solid #52A84B;
    color: #fff;

    font-size: 16px;
    border-radius: 5px;
}