.main-form-user {
    width: 80%;
    max-width: 700px;
    display: flex;
    flex-direction: column;

    gap: 18px;
}

.main-form-user h2 {
    display: flex;
    align-items: center;
    gap: 20px;

    font-size: 23px;

    color: #202020;
}

.main-form-user h2 a {
    color: #202020;
}

.main-form-user h2 i {
    font-size: 21px;
}

.main-form-user .inputs-wrapper {
    display: flex;
    flex-direction: column;

    gap: 15px;
}

.main-form-user .input-element {
    display: flex;
    flex-direction: column;
}

.main-form-user .input-element label {
    font-weight: 300;
    font-size: 17px;
}

.main-form-user .input-element input {
    border: 1px solid #b0b0b0;
    border-radius: 5px;

    padding: 7px;

    font-size: 16px;
    outline-color: var(--color-red);
}