<?php
// define('ENVIRONMENT', 'development'), feito manualmente como condição para as constantes de conexão com o banco;
define('ENVIRONMENT', 'development');

// Caso o projeto esteja dentro de uma pasta e não na raiz do www|htdocs
define('DIR_ROOT', 'flashfood');

// Define o nome do servidor
define('DIR_SERVER', $_SERVER['SERVER_NAME']);

define('DIR_DOCUMENT', $_SERVER['DOCUMENT_ROOT']);

// Define se a porta é https ou http
define('DIR_PROTOCOL', ($_SERVER['SERVER_PORT'] != '80') ? 'https' : 'http');

// Monta a url -- http://localhost/flashfood
define('SERVER_HOST', DIR_PROTOCOL . '://' . DIR_SERVER . '/' . DIR_ROOT);

define('DIR_DASHBOARD', SERVER_HOST . '/dashboard');
define('DIR_MOBILE', SERVER_HOST . '/mobile');
define('DIR_KITCHEN', SERVER_HOST . '/kitchen');

// Define caminhos
define('DIR_CSS', SERVER_HOST . '/assets/css');
define('DIR_JS', SERVER_HOST . '/assets/js');
define('DIR_IMG', SERVER_HOST . '/assets/images');
define('DIR_FNT', SERVER_HOST . '/assets/fonts');
define('DIR_PAGES', SERVER_HOST . '/pages');
