#container-landingpage main {
    padding: 0;
}

.main-login {
    width: 100vw;
    height: 100vh;

    display: flex;
    align-items: center;
    justify-content: center;
}

.main-login > header {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 10%;
    max-height: 130px;

    top: 0;
    left: 0;

    padding: 15px;

    font-size: 22px;
    font-weight: 700;
}

.main-login > header a {
    color: #fff;
}

.main-login > header::after {
    content: '';
    display: block;
    position: absolute;

    left: 0;
    top: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    background-color: var(--color-red);
    border-radius: 0 0 20% 20%;
}

.main-login .about-login {
    width: 80%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    gap: 15px;
}

.main-login .about-login h2 {
    font-size: 26px;
}

.main-login .about-login p {
    width: 50%;
    margin: 0 auto;
    text-align: center;

    font-size: 18px;
    font-weight: 400;
}

.main-login .about-login small {
    color: #121212;
    font-size: 16px;
}

.main-login .about-login small a {
    color: rgba(0, 0, 255, 0.689);
    text-decoration: underline;
}