.dashboard-title-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;

    margin-bottom: 60px;
    position: relative;
}

.dashboard-title-wrapper i {
    position: absolute;

    left: 0;
    color: rgb(48, 48, 48);
    cursor: pointer;
    font-size: 22px;
    transform: translateY(-50%);
}

.main-dashboard-title {
    font-size: 27px;
    font-weight: 600;

    text-align: center;
    position: relative;
    color: #202020;
}

.main-dashboard-title::before {
    content: '';
    position: absolute;
    bottom: -15px;
    width: 20%;
    left: 50%;
    transform: translateX(-50%);

    height: 3px;
    border-radius: 5px;
    background-color: #252525;
}

.main-dashboard-form {
    width: 90%;

    margin: 0 auto;
    padding: 50px;

    border-radius: 5px;
    box-shadow: 0 2px 0.5rem rgb(0 0 0 / 20%), 0 2px 0.5rem rgb(0 0 0 / 20%);
}

.main-form-items {
    width: 100%;

    display: grid;
    grid-template-columns: repeat(2, 1fr);

    gap: 17px 40px;
}

.main-dashboard-form .main-input-wrapper label {
    font-weight: 400;
    font-size: 18px;
}

.main-dashboard-form .main-input-wrapper input, .main-dashboard-form .main-input-wrapper select {
    border: 1px solid #ced4da;
    height: 45px;
    padding: 0 15px;

    color: #2b2b2b;
    font-weight: 500;
    width: 100%;
    font-size: 16px;
    margin-top: 4px;
    border-radius: 3px;
}

.main-dashboard-form .main-input-wrapper input::placeholder, .main-dashboard-form .main-input-wrapper select::placeholder {
    font-weight: 400;
    font-size: 16px;

    color: #495057;
} 

.main-dashboard-form .main-input-wrapper input:focus {
    background-color: #FFF;
    border-color: #86B7FE;
    outline: 0;
    box-shadow: 0 0 0 .18rem rgba(13, 110, 253, .25);
}

.main-input-wrapper input[type=file] {
    height: auto;
    font-weight: 400;
    font-size: 16px;

    color: #495057;

    padding: 7px 15px;
}

.main-input-wrapper input[type=file]::file-selector-button {
    cursor: pointer;
    transition: all 1s ease;
    color: #495057;
    font-size: 16px;
    border-radius: 5px;
    padding: 6px 13px;
    margin-right: 10px;
    border: 1px solid #c8ccd0;
    font-size: 16px;
}

.form-create-ingredients {
    display: flex;
    flex-direction: column;
    gap: 40px;

    margin-top: 40px;
}

.form-create-ingredients h3 {
    font-size: 25px;
    font-weight: 600;

    text-align: center;
    position: relative;
}

.main-dashboard-form .button-submit {
    margin-top: 25px;

    color: #fff;
    border-radius: 4px;
    width: 105px;
    height: 50px;

    font-size: 16px;
    cursor: pointer;

    transition: transform 100ms;
}

.button-submit.delete {
    margin-left: 25px;
    background-color: #e23c39;
    border-color: transparent;
}

.button-submit.success {
    background-color: #28a745;
    border: 2px solid #28a745;
}

.main-dashboard-form .button-submit:hover {
    transform: scale(1.04);
    border: none;
}

.main-dashboard-form .button-submit.success:hover {
    background-color: #22943d;
}

.main-dashboard-form .button-submit.delete:hover {
    background-color: #e43633;
}

.main-select-form.-products {
    width: 90%;
    margin: 0 auto;
    margin-bottom: 10px;
}

.main-select-form select {
    width: 130px;

    box-sizing: content-box;
    height: 25px;
    padding: 5px 0;
    padding-left: 10px;
    border-radius: 5px;

    font-size: 16px;
    font-weight: 300;

    border: none;
    box-shadow: 0 0 3px #232323;
    -webkit-appearance: none;
    -moz-appearance: none;
    background: transparent;
    background-image: url("../../images/system/arrow-down-select.png");
    background-repeat: no-repeat;
    background-position-x: 95.5%;
    background-position-y: 12.5px;
    background-size: 10px;
}

.main-select-form #options-list-wrapper {
    width: 18%;
    margin-bottom: 10px;
}

select::-ms-expand {
    display: none !important;
}

.main-dashboard-form.-ingredient {
    width: 100%;
    box-shadow: none;
}

.main-dashboard-form.-ingredient .form-items {
    display: flex;
    flex-direction: column;

    gap: 20px;
} 

.main-dashboard-form.-ingredient .main-input-wrapper {
    display: flex;
    flex-direction: column;
    align-items: start;
}

.reload-list-wrapper ul li{
    font-size: 17px;
    margin-bottom: 10px;
}