.main-content input[type=search] {
    width: 385px;
    height: 55px;
    padding: 15px 25px;
    border-radius: 10px;

    font-size: 17px;
    font-weight: 300;

    border: none;
    box-shadow: 0 0 3.5px #232323;
}

.main-content input[type=search]::placeholder {
    color: #555555;
    font-size: 16px;

    font-weight: 400;
}

.main-content table {
    border-collapse: collapse;
    width: 80%;
    
    margin: 0 auto;
    font-weight: 300;
    font-size: 17px;
}

.main-content table tr {
    box-shadow: 2px 4px 10px #c2c2c2;
}

.main-read-item table img {
    width: 90px;
    height: 60px;
    object-fit: cover;

    border-radius: 10px;
}

.main-read-item .read-icons-wrapper {
    display: flex;

    gap: 50px;
    justify-content: center;
}

.main-read-item table i {
    font-size: 23px;
    cursor: pointer;

    transition: transform 200ms;
    padding: 5px;
}

.main-read-item table .fa-solid-trash {
    color: #eb4d4b;
}

.main-read-item table .fa-solid-edit {
    color: #343434;
}

.main-read-item table i:hover {
    transform: scale(1.2);
}

td, th {
    text-align: left;
    padding: 8px;
}

tr td:last-child {
    text-align: center;
}